/*
Responsive HTML Table With Pure CSS - Web Design/UI Design

Code written by:
👨🏻‍⚕️ Coding Design (Jeet Saru)

> You can do whatever you want with the code. However if you love my content, you can **SUBSCRIBED** my YouTube Channel.

🌎link: www.youtube.com/codingdesign 
*/

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}
@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

/*@page {
    size: landscape;
    margin: 0; 
}*/


body {
    min-height: 100vh;
    background: url(/static/images/money.jpg) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    width: 98vw; /* Augmente la largeur */
    height: 98vh; /* Augmente la hauteur */
    background-color: #fff5;

    backdrop-filter: blur(7px); /* Conserve l'effet de flou */
    box-shadow: 0 0.6rem 1.2rem #0005; /* Augmente légèrement l'ombre pour s'adapter à la taille */
    border-radius: 1rem; /* Légèrement plus arrondi pour un aspect équilibré */

    overflow: hidden; /* Empêche les débordements */
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}


.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
    top: 15px;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    min-width: 120px;
}

.status.solvable {
    background-color: #02fc40; /* Vert clair */
    color: black; /* Vert foncé */
}

.status.surendette {
    background-color: #fc043e; /* Rouge pâle */
    color: #070001; /* Rouge foncé */
}

.status.endette {
    background-color: #f83d60; /* Orange */
    color: black; /* Brun foncé */
}

.status.excedentaire {
    background-color: #6fcaea; /* Bleu clair */
    color: #00090e; /* Bleu foncé */
}

.status.sur-le-fil {
    background-color: #d8fd05; /* Jaune clair */
    color: #333; /* Jaune foncé */
}

.status.en-alerte {
    background-color: #ffc3c3; /* Rouge clair */
    color: #990000; /* Rouge intense */
}

.status.nul {
    background-color: #e302f7; /* Gris clair */
    color: black; /* Gris foncé */
}

.status.tres-faible {
    background-color: #9b5e34; /* Beige clair */
    color: #000000; /* Brun clair */
}

.status.recouvrement {
    background-color: #f78fb3; /* Rose */
    color: #880e4f; /* Rose foncé */
}



@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(/static/images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    left: 25px;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top left;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}

.tab-menu {
    display: flex;
    justify-content: center;
    background: #e6f0ff;
    padding: 10px;
    border-radius: 10px;
}

.tab-menu button {
    background: transparent;
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.tab-menu button:hover {
    color: #007bff;
}

.tab-menu button.active {
    font-weight: bold;
    color: #007bff;
}

@media (max-width: 768px) {
    .tab-menu {
        flex-wrap: wrap;
    }
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;

    /* Ajout des styles pour le positionnement */
    position: relative; /* Permet d'utiliser top pour ajuster */
    top: -20px; /* Ajuste la position vers le haut */
    left: 280px;
}

.cb_btn img,
.delete_btn img,
.edit_btn img {
    cursor: pointer;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.cb_btn img:hover,
.delete_btn img:hover,
.edit_btn img:hover {
    opacity: 0.8;
    transform: scale(1.1); /* Agrandit légèrement l'image au survol */
}


/* Style du bouton Créditer */
.btn-credit {
    background-color: #28a745; /* Couleur verte attrayante */
    color: white; /* Texte en blanc */
    border: none; /* Suppression des bordures */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px 15px; /* Réduction de la hauteur avec un padding vertical plus petit */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur en forme de main */
    transition: background-color 0.3s, transform 0.3s; /* Effet de transition au survol */
}

/* Effet au survol du bouton */
.btn-credit:hover {
    background-color: #218838; /* Couleur verte plus foncée au survol */
    transform: scale(1.05); /* Agrandissement léger au survol */
}

/* Effet au clic du bouton */
.btn-credit:active {
    background-color: #1e7e34; /* Couleur encore plus foncée pendant l'action */
    transform: scale(0.98); /* Réduction légère pendant le clic */
}


/* Style du bouton Débiter */
.btn-debit {
    background: linear-gradient(45deg, #ff5733, #ff8c00); /* Dégradé du rouge (ff5733) à l'orange (ff8c00) */
    color: white; /* Texte en blanc */
    border: none; /* Suppression des bordures */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px 15px; /* Réduction de la hauteur avec un padding vertical plus petit */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur en forme de main */ 
    transition: background 0.3s, transform 0.3s; /* Effet de transition au survol */
}

/* Effet au survol du bouton */
.btn-debit:hover {
    background: linear-gradient(45deg, #e74c3c, #f39c12); /* Changement du dégradé au survol */
    transform: scale(1.05); /* Agrandissement léger au survol */
}

/* Effet au clic du bouton */
.btn-debit:active {
    background: linear-gradient(45deg, #c0392b, #e67e22); /* Dégradé encore plus foncé pendant l'action */
    transform: scale(0.98); /* Réduction légère pendant le clic */
}



/* Style du bouton de transfert */
.transfert-btn {
    background-color: #0582f8;  /* Vert clair */
    color: white;                /* Texte en blanc */
    border: none;                /* Pas de bordure */
    padding: 5px 15px;          /* Espacement intérieur */
    font-size: 16px;             /* Taille de la police */
    cursor: pointer;            /* Curseur de souris en forme de main */
    border-radius: 5px;          /* Coins arrondis */
    transition: background-color 0.3s ease, transform 0.3s ease;  /* Transition de couleur et d'animation */
}

.transfert-btn:hover {
    background-color: #2702fa;  /* Vert plus foncé au survol */
    transform: scale(1.05);      /* Légère agrandissement au survol */
}

.transfert-btn:focus {
    outline: none;              /* Retirer le contour du bouton lorsqu'il est sélectionné */
}

.transfert-btn:active {
    background-color: #f80606;  /* Vert encore plus foncé lors du clic */
    transform: scale(0.98);      /* Réduction de la taille du bouton pendant le clic */
}


